    /* General Styles */

body, html {
    height: 100%;

}



h1 {
    font-family: 'Staatliches', cursive;
    color: red;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Amatic SC', cursive;
}

    /* Hero */

.hero {

    /* background-image: url(./images/smoke-1001664_1280.png);
    background-position: cover;
    position: 50% 50%; */
    position: 100%;
    height: 100vw;
    max-height: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 49%, 0 100%);
    background-color: black;


}