body {
    max-width: 50%;
    margin: auto;
}
h1 {
    text-align: center;
}

fieldset {
    text-align: center;
    border: none;
}

fieldset:nth-child(n+2) {
    display:none;
  }

.submit {
    text-align: center;
}


input[type="submit"] {
    /* margin: 20px 0; */
    /* display:flex; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    text-align: center;
}

.results {
    text-align: center;
}


