h1 {
    text-align: center;
}

fieldset {
    text-align: center;
}

fieldset:nth-child(n+2) {
    display:none;
  }

.submit {
    text-align: center;
}

input[type="submit"] {
    margin: 20px 0;
    display:block;
  }